[Unit]
Description=Ultimate Terminal Worker
After=network.target

[Service]
type=simple
ExecStart=/usr/local/bin/ultimate-terminal-worker
Restart=always
User=stev
Environment=NEXUS_URL=http://148.230.88.162:3002
Environment=WORKER_TOKEN=5d67d9b50ea0d6dde1ff5497073965808431e31a8806c3aeea794e0ae1c166f5
Environment=WORKER_NAME=Stev-Fedora-PC
WorkingDirectory=/home/stev

[Install]
WantedBy=multi-user.target
